:root {
    --primary: #1b1b1b
}

html,
body,
.root {
    height: 100%;
}

body {
    line-height: 1.5;
}

body,
.app {
    background-color: transparent;
    font-family: 'Special Elite', cursive;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #ce4b4b;
}


img {
    max-width: 100%;
    height: auto;
}

/* *** *** *** *** VIEW: LANDING PAGE*** *** *** *** */

/*HEADER*/

.logo-img {
    max-height: 50px;
}

.list-books-content {
    background: white;
    top: 0;
}

.list-books {
    background-color: transparent;

}

.list-books-title {
    position: fixed;
    padding: 10px;
    background: #1b1b1b;
    display: grid;
    grid-template-columns: 89% 10%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;


}

.list-books-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}

.list-books-content {
    padding: 0 0 80px;
    flex: 1;

}

/*PARALLAX*/

.parallax {
    background-image: url('../Assets/landing-hero-mobile.jpg');
    height: 30vh;
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: contain;
}

/*BOOKSHELVES*/

.bookshelf {}

@media (min-width: 600px) {
    .bookshelf {
        padding: 0 20px 40px;
    }
}

.bookshelf-title {

    height: 100px;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    color: #f3f4f4;
    background-color: #1b1b1b;
    box-shadow: 1px 1px 3px #888888;
    font-family: 'Special Elite', cursive;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    z-index: 2;
}


.bookshelf-books {
    text-align: center;
    transform: rotate(0) skew(0);
}

.open-search a {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../icons/add.svg');
    font-size: 0;
    z-index: 101;
}

/* BOOKS GRID */

.books-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
}

.books-grid li {
    padding: 10px 15px;
    text-align: left;
    width: 100%;
}

.book {
    width: 300px;
    margin: auto;
}

.book-title,
.book-authors {
    font-size: 0.8em;
}

.book-title {
    margin-top: 10px;
}

.book-title-label {
    font-size: 1em;
    position: relative;
    top: 49px;
    padding: 0 .3em 0 .3em;
    right: -28px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #3d5863;
    color: #fff;
    transform: rotate(45deg);
    box-shadow: 0 12px 46px grey;
}

.book-authors {
    color: #999;
}

.book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.book-top a {
    margin: auto;
}

.book-shelf-changer {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ce4b4b;
    background-image: url('../icons/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

select {
    height: 150px;
    color: #ce4b4b;
    font-size: 16px;
    font-family: 'Special Elite', cursive;
}

option {
    color: #ce4b4b;
    background-color: white;
    padding: 0.25em;
}

.book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/*BOOK COVER*/

.book-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #eee;
}

.book-cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
}

/* *** *** *** VIEW: SEARCH *** *** *** */

.search-books-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
    flex: 1;
    background: #e9e;
}

.search-books-bar input {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
}

.close-search {
    display: block;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 53px;
    background: white;
    background-image: url('../icons/arrow-back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
}

.search-books-results {
    padding: 80px 10px 20px;
}

/* *** *** *** VIEW: BOOK REVIEW *** *** *** */

.book-review {
    width: 100%;
}

.book-review-inner {
    width: 90%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 85px;
}

.book-review-cover {
    background-size: cover;
    margin: auto;
}

.book-review-close {
    background-color: var(--primary);
    color: #fff;
}

.book-review-title {
    margin: .5em auto;
}

.book-review-sub {
    color: rgba(153, 153, 153, 0.73);
}

.book-review-info {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.book-review-info li {
    font-size: .8em;
}

.book-review-author,
.book-review-cat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.book-review-changer {
    left: 38px;
    top: 93px;
}

.preview-button {
    background-color: var(--primary);
    color: #fff;
    display: block;
    width: 100%;
    font-size: 1.2em;
    border: none;
    padding: .5em;
}

/* FOOTER */

footer {
    max-height: 100px;
    background: #1b1b1b;
    color: white;
    bottom: 0 !important;
    justify-content: center;
}

footer > section > p {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

footer > section > p > a {
    color: #ce4b4b;
    font-weight: 700;
}

@media (min-width: 768px) {
    .parallax {
        background-image: url('../Assets/landing-hero.jpg');
        height: 70vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1024px;
        margin: auto;
    }
}
